/************ Banner Css ************/


.banner {
    margin-top: 70px;
    padding: 50px 0 120px 0;
    
}



.banner h1 {
    font-size: 65px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1.3;
    margin-bottom: 20px;
    display: block;
    color : black;


}

.banner p {
    color: grey;
    font-size: 22px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 100%;
}

.banner img {
    height:25rem;
    /* animation: updown 5s linear infinite; */
}

/* @keyframes updown {
    0% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(-20px);
    }
} */