.request-container {
    color: white;
    /* Set text color to white */
}

.request-header {
    color: white;
    /* Set text color to white */
    font-size: 24px;
    /* Example font size */
    margin-bottom: 20px;
    /* Example margin */
}

.request-table {
    color: rgb(0, 0, 0);
    /* Set text color to white */
}

/* Add more styles as needed */